.Content {
    max-width: 800px;
    margin: auto;
    margin-bottom: 32px;
    margin-top: 32px;
    color: #000;
    padding-left: 1em;
    padding-right: 1em;
}

.Title {
    margin-bottom: 0;
}

.Date {
    font-size: .8em;
}

.h3 {
    border-left: 8px solid #aaa;
    padding-left: 8px;
}

.context {
    padding-left: 1em;
}

.tocBody {
    /* width: fit-content; */
    padding: 10px;
    border: dashed #aaa;
    border-radius: 1em;
}

.tocList {
    margin: 10px;
    margin-bottom: 0px;
    margin-top:0px;
    padding-left: 10px;
    list-style-position: inside;
    list-style-type: disc;
    color: #4e8de6;
}

.tocItem {
    margin: 0px;
}

.tocLink {
    text-decoration: none;
    color: #3B69AD;
}