.Content {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 32px;
    margin-top: 32px;
    color: #000;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-shadow: 0 0 10px 0px #aaa;
    background-color: #f5f5f5;
}

.Content>h1 {
    margin: 0px;
}

.Title {
    margin-bottom: 0;
}

.Date {
    font-size: .8em;
}

.h2 {
    margin-bottom: 0;
}

.h2>hr {
    background-color: #4e8de6;
    border: none;
    height: 2px;
}

.h3 {
    border-left: 8px solid #4e8de6;
    padding-left: 8px;
}

.context {
    padding-left: 1em;
}

.tocBody::before {
    content: "Page Index";
    padding-left: 0.8em;
    font-size: 1.2em;
    color: #3D6EB3;
}

.tocBody {
    margin-top: 1em;
    padding: 10px;
    border: dashed #4e8de6 .1px;

    background: #f5f5f5;
    box-shadow: 2px 2px 10px #a2a2a2,
        -2px -2px 10px #ffffff;
}

.tocList {
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 10px;
    list-style-position: inside;
    list-style-type: disc;
    color: #4e8de6;
}

.tocItem {
    margin: 0px;
}

.tocLink {
    text-decoration: none;
    color: #3B69AD;
}

.blockquote {
    border-left: 10px solid #415166;
    background-color: #ebebeb;
    padding: 0.5em;
}

.blockquote>p {
    margin: 0px;
}