@import "tailwindcss";

:root {
    --header-height: 4rem;
}

/* 
* {
    border: 1px solid red;
} */

@theme {
    /*ロード時に発火*/
    --animate-fade-in-load: fade-in-load 0.5s ease-in-out forwards;
    --animate-fade-in-load-delay: fade-in-load 0.5s ease-in-out forwards 0.25s;

    @keyframes fade-in-load {
        0% {
            opacity: 0;
            transform: translateY(2rem);
            filter: blur(0.1rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
            filter: blur(0);
        }
    }

    /* ぐるぐる回るアニメーション */
    --animate-spin: spin 2s linear infinite;
    
@keyframes spin {
    0% {transform: rotateX(0deg) rotateY(0deg)}
    33% {transform: rotateX(-20deg) rotateY(120deg)}
    66% {transform: rotateX(20deg) rotateY(240deg)}
    100% {transform: rotateX(0deg) rotateY(360deg)}
  }
}